@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 
.container{
  max-width: 100%;
 
  background-color: black;
}
.bg-cover {
  background-size: cover;
  background-image: url('/src/assets/Everest.jpg');
} */
